<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw"  [(ngModel)]="psw"  required>
  
      <button type="submit">Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span><a href="#" [routerLink]="'/signup'">Signup</a></span>
    </div>
  </form>